h1 {
  color: maroon;
}

.post {
  background-color: blanchedalmond;
}

.user {
  font-style: italic;
}

a {
  text-decoration: none;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  background-color: yellow;
  color: red;
  border: none;
  margin-left: 10px;
}
